.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bigHeader {
  color: white;
  font-size: 30px;
  background: blue;
  padding: 2em;
  width: 40%;
  margin-left: 600px;
}

.searchBar {
  width: 350px;
  margin-top: 30px;
  margin-left: 700px;
  padding: 15px;
  font-size: 20px;
}
